@import "tailwindcss";

@theme inline {
	--color-bg: var(--bg);
	--color-surface: var(--surface);
	--color-border: var(--border);
	--color-ink: var(--ink);
	--color-ink-soft: var(--ink-soft);
	--color-ink-muted: var(--ink-muted);
	--color-navy: var(--navy);
	--color-gold: var(--gold);
	--color-offwhite: var(--offwhite);
	--color-cream-100: var(--surface);
	--color-cream-200: var(--border);
	--color-olive-dark: var(--olive-dark);
}

:root {
  --bg:       #FAFAF8;
	--offwhite: #F8F6F1;
  --surface:  #F5F3EE;
  --border:   #E2DDD3;
  --ink:      #1A1A1A;
  --ink-soft: #3D3935;
  --ink-muted:#6B6560;
  --navy:     #1E3A5F;
	--olive-dark:#3E4D19;
  --gold:     #C9A96E;
}
